body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    background: linear-gradient(to right,#104553,#639D71);
    min-height: 100vh;
}

/* start header block #00A9AF, #639D71  #00A9AF*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#alert {
     border: 1px solid white;
    border-radius: 4px;
    background-color: #00a9af;
    color: #dc0f0f;
    font-size: 18px;
    font-weight: bolder;
    padding: 0 5px;
    margin-top:4px;
}

header:first-child {
    border: 0 solid green;
    border-radius: 3px;
    text-align: left;
    margin: 0;
    /*background: linear-gradient(to right,#104553,#639D71);*/
    color: #fff;
    height: 60px;
    padding-left: 20px;
    margin-bottom: 0px;

/* background-image: url(img/header_img.jpg);*/
/*  font-family:trebuchet ms sans-serif;*/
/*background:#00688B;*/
}

header h1 {
    padding-top: 0px;
    font-size: 24px;
    border: 0 solid green;
    margin-bottom: 0;
}

.header_logo {
    border: 0 solid green;
    margin-top: 0;
    font-size: 14px;
    padding-left: 36px;
}


/*end of header*/
/*Starp wrapper*/
#wrapper {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    color: #d2d2d2;
    flex:1;
}

#PersonalData {
/*display: block;*/
    flex: 1;
}

.block label {
    display: block;
}

#productTable,#consumedProducts,#addProduct {
    flex: 3;
}

section {
   /* border-left-color: #DBDBDB;
    border-left-width: 2px;
    border-left-style: solid;*/
}

section,footer {
    background: transparent;
/* Цвет фона */
    padding: 10px;
/*border: 0px solid grey;*/
    margin: 1px;
/*background-color: #A6CEDB;*/
/* padding-left: 5px;*/
}

/*finish wrapper*/
section h1 {
    margin-top: 0;
}

/*start navi*/
menu {
    margin-bottom: 8px;
    margin: 8px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:  space-around;

}
/* #c3c7c2*/
menu li {
    background-color: transparent;
    padding-bottom: 6px;
    padding-top: 6px;
    color: #FFF;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    width: 25%;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: .3s;
    border: 1px solid #FFF;
    border-radius: 4px;
}

menu li.active {
    background-color: #00A9AF;
    transition: .3s;
}

menu li:hover {
    background-color: #00A9AF;
    transition: .3s;
    border: 1px solid #00A9AF;
}

article {
    border: 0 solid green;
    margin: 1px;
}

/*Start content block*/
/*Start content.personal Data block*/
.fieldset {
    border: 1px solid #00A9AF;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.fieldset legend {
    display: block;
    background-color: #00A9AF;
    border-radius: 3px;
    border: 1px solid #00A9AF;
    width: 100%;
    margin-left: -3px;
    text-align: center;
}

#result {
    font-size: 18px;
    color: red;
    margin: 0 0 0 5px;
    font-weight: bolder;
}

.content {
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonPD {
    margin: 5px;
}

#age {
    margin-top: 5px;
}

/*End content.personal Data block*/


/*Start block Table*/
.table1 {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

tr {
    border: 1px solid #e6e1e1;
    color: #6b6767;
    background-color: white;
}

.table1 tbody tr {
    border: 1px solid #00A9AF;
    background: #00A9AF;
}

.table1 tbody tr th {
    font-weight: 400;
    padding: 6px 2px;
}

.table1 tr td:nth-child(1) {
    text-align: left;
    padding-left: 3px;
}

.table1 td {
    padding: 5px 0;
}

/*END block Table*/


/*Start block ConsumedProduct*/
.inputTable {
    width: 40px;
}

.addButton {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 18px;
}

#consumedProducts {
  position: relative;
}

#tableEatenProducts {
 
  bottom: 5px;
}

#secondtable {  
    border-top-color: #DBDBDB;
    border-top-width: 2px;
    border-top-style: solid;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;    
    text-align: center;   
    background-color: #00A9AF;      
   
}

/*END block ConsumedProduct*/
/*Start block ADD Product*/
#fieldset2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#addFormColumn2 {
    margin-left: 10px;
    border-left: 1px dashed green;
    padding-left: 4px;
}

#addFormColumn1 {
    text-align: right;
    overflow: hidden;
}

.addFormColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addFormColumn p {
    margin: 5px;
}

.addFormColumn input,.addFormColumn select {
    border: 1px solid #00A9AF;
    width: 300px;
}

#addProductButton {
    margin-left: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
}

button#searchProductButton {
    margin-bottom: 5px;
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 3px;
}

/*END block ADD Product*/
/*Start progress block*/
#progres_bar {
    flex: 1;
}



 progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  
}
progress[value] {
    -webkit-appearance: none;
    appearance: none;
    -webkit-appearance: progress-bar;
    box-sizing: border-box;
    display: inline-block;
    width: 75%;
    height: 25px;
    border: 1px solid #0063a6;
    background: #E7F0F0;
    margin-bottom: 5px;
    border-radius: 4px;
}
progress[value]::-webkit-progress-value {
    background-image:
     -webkit-linear-gradient(-45deg, 
                             transparent 15%, rgba(0, 0, 0, .1) 15%, 
                             rgba(0,0, 0, .1) 85%, transparent 85%),
     
     -webkit-linear-gradient(left, #00A9AF, #FF5350);

    border-radius: 4px; 
    
}




/*Button*/
button,#calcButton {
    background-color: #00A9AF;
    padding-bottom: 7px;
    padding-top: 7px;
    color: #FFF;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: .3s;
    border: 1px solid #FFF;
    margin: auto;
    border-radius: 4px;
}

button:hover,#calcButton:hover {
    background-color: #00A9AF;
    transition: .3s;
    border: 1px solid #00A9AF;
}

@media (max-width: 800px) {
    #wrapper {
        flex-direction: column-reverse;
        color: #6b6767;
    }

    #productTable,#consumedProducts,#addProduct {
        order: 100;
    }

    #personalData {
        order: 3;
    }

    #progres_bar {
        order: 2;
    }

    .addFormColumn input,.addFormColumn select {
        width: 230px;
    }
}

@media (max-width: 500px) {
    .addFormColumn input,.addFormColumn select {
        width: 150px;
    }
}

/*Start footer block*/
footer {
    border-top: 2px solid #DBDBDB;
    clear: both;
    margin-top: 4px;

}

footer p {
    font-size: 14px;
    text-align: center;
    margin: 1px;
}

.hidden {
    display: none;
}